/.idea/
/.vscode/
/env/
/venv/
__pycache__/
*.pyc
*.egg-info/
/build/
/dist/
/.pytest_cache/
/.mypy_cache/
/.tox/
.coverage
.coverage.*
/htmlcov/
/docs/_build/
.env
*dask-worker-space
src/cicadad/backend/*
!src/cicadad/backend/__init__.py
